<h3 class="text-center text-thin">Auctioneer Assistant</h3>
<div class="p">
    <h4 class="text-muted text-thin">Framed Pricing</h4>
    <div class="clearfix">
        <p class="pull-left">Price</p>
        <div class="pull-right">
           <b>$1290.00</b>
        </div>
    </div>
    <div class="clearfix">
        <p class="pull-left">Your are not allowed to bid on behalf of the house at or above</p>
        <div class="pull-right">
            <b>$1940.00</b>
        </div>
    </div>
    <!--
    <div class="clearfix">
      <p class="pull-left">RTL</p>
      <div class="pull-right">
         <label class="switch">
            <input type="checkbox" [(ngModel)]="layoutRTL"/>
            <span></span>
         </label>
      </div>
    </div>
    -->
</div>
<div class="p" *ngIf="!settings.layout.horizontal">
    <h4 class="text-muted text-thin">Sales Goals</h4>
    <div class="clearfix">
         <p class="pull-left">Amount Sold</p>
        <div class="pull-right">
           <b>$5470.00</b>
        </div>
    </div>
    <div class="clearfix">
         <p class="pull-left">Goal 2 Reached!</p>
        <div class="pull-right">
           <b>$0.00</b>
        </div>
    </div>
    <div class="clearfix">
         <p class="pull-left">Goal 1 Reached!</p>
        <div class="pull-right">
           <b>$0.00</b>
        </div>
    </div>
</div>

