
<div class="modal fade" bsModal #classicModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="classicModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Classic modal</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Bid Num</label>
                        <input class="form-control" type="text" name="binNum" required="" [(ngModel)]="user.bidNum" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Cabin</label>
                        <input class="form-control" type="text" name="cabin"  [(ngModel)]="user.cabin" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Folio</label>
                        <input class="form-control" type="text" name="folio" required="" [(ngModel)]="user.folio" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Session</label>
                        <div style="display: inline-flex">
                            <input class="form-control" type="text" name="Session"  [(ngModel)]="user.sessionNum" disabled style="width:50%"/>
                            <input class="form-control" type="text" name="SessionTime" placeholder="toays date"  style="width:50%"/>
                        </div>
                    </div>
                     <div class="form-group  col-md-2">
                          <label>Salutation</label>
                          <input class="form-control" type="text" name="salutation" />
                    </div>
                    
                    <div class="form-group  col-md-5">
                        <label>First Name*</label>
                        <input class="form-control" type="text" name="name" required="" [(ngModel)]="user.name" />
                    </div>
                        <div class="form-group col-md-5">
                        <label>Last Name*</label>
                        <input class="form-control" type="text" name="lastname" required="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Address1</label>
                            <input class="form-control" type="text" name="address" required="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Address2</label>
                            <input class="form-control" type="text" name="address" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Zip/Postal Code*</label>
                        <input class="form-control" type="text" name="zip" required="" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>City*</label>
                        <input class="form-control" type="text" name="city" required="" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>State*</label>
                        <input class="form-control" type="text" name="state" required="" />
                    </div>
                </div>
                <div class="row">
                     <div class="form-group col-md-4">
                        <label>County</label>
                        <input class="form-control" type="text" name="county" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Country*</label>
                        <input class="form-control" type="text" name="country" required="" />
                    </div>
                      <div class="form-group col-md-4">
                        <label>Region*</label>
                        <input class="form-control" type="text" name="region" required="" />
                    </div>
                </div>
                 <div class="row">
                     <div class="form-group col-md-2">
                        <label>Country Code</label>
                        <input class="form-control" type="text" name="countrycode" />
                    </div>
                    <div class="form-group col-md-5">
                        <label>Home Phone*</label>
                        <input class="form-control" type="text" name="homephone" required="" />
                    </div>
                      <div class="form-group col-md-5">
                        <label>Mobile Phone</label>
                        <input class="form-control" type="text" name="cellphone" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Marketing Lead</label>
                        <input class="form-control" type="text" name="marketinglead" required="" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Email Address*</label>
                        <input class="form-control" type="text" name="email" required="" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Company</label>
                        <input class="form-control" type="text" name="company" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Historical Customer Number </label>
                        <input class="form-control" type="text" name="historicalcustomer" />
                        <label class="checkbox-inline c-checkbox"><input id="newHistoticalCustCheckbox" type="checkbox" value="option1" /><span class="fa fa-check"></span>Choose New Historical Customer</label>
                    </div>
                    <div class="form-group col-md-4">
                        <label>PWGCC Open to Buy</label>
                        <input class="form-control" type="text" name="pwgccopentobuy" required="" />
                        <label class="checkbox-inline c-checkbox"><input id="calledForCCIncCheckbox" type="checkbox" value="option1" /><span class="fa fa-check"></span>CCalled for credit card increase?</label>
                    </div>
                </div>
                        <br/>
                <div class="row">
                     <div class="col-md-6">
                        <label class="control-label">Are you currently in out mailing list? &nbsp;&nbsp; </label>
                        <div class="radio-inline c-radio">
                            <label>
                                <input id="chk-mailinglist" type="radio" name="mailinglist" [value]="true" [(ngModel)]="inMailingList" />
                                <span class="fa fa-check"></span>Yes</label>
                        </div>
                        <div class="radio-inline c-radio">
                            <label>
                                <input id="chk-mailinglist" type="radio" name="mailinglist" [value]="false" [(ngModel)]="inMailingList" />
                                <span class="fa fa-check"></span>No</label>
                        </div>
                        <br/>
                        <div [hidden]="!inMailingList">
                            <small style="padding-top: 8px;" class="pull-left">Have you changed your address in the last 24 months? What was your last </small>
                            <input class="form-control pull-left" type="text" placeholder="Zip Code" style="width:100px;" />
                        </div>
                    </div>
                      <div class="col-md-6">
                        <label class="control-label">Is this your primary address? &nbsp;&nbsp; </label>
                        <div class="radio-inline c-radio">
                            <label>
                                <input id="chk-primaryaddress" type="radio" name="ship-to" value="address" />
                                <span class="fa fa-check"></span>Yes</label>
                        </div>
                        <div class="radio-inline c-radio">
                            <label>
                                <input id="chk-primaryaddress" type="radio" name="ship-to" value="other" />
                                <span class="fa fa-check"></span>no</label>
                        </div>
                    </div>
                </div>
                <div class="mv"></div>
                <div class="pt clearfix">
                    <p class="pull-left text-sm"><i>Fields marked with (*) are required</i>
                    </p>
                    <div class="pull-right">
                        <button class="btn btn-danger" type="button" (click)="classicModal.hide()">Cancel</button>
                        <button style="margin-left:10px" class="btn btn-primary" type="button" (click)="stepgroup3.isOpen = true">Save </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>