<div class="content-heading">
    Customer
    <small>Customer management</small>
</div>
<!-- <alert [type]="'info'">None of this examples are based on the official jQuery-Datatables</alert> -->
 <div class="row">
    <div class="col-lg-4 col-md-4 pull-left">
        <input class="button button-default" placeholder="Filter..." type="text" (keyup)="onQuickFilterChanged($event)" />
    </div>
    <div class="col-lg-4 col-md-4 pull-right">
        <button class="mb form-control"  type="submit" (keyup)="onQuickFilterChanged($event)" ><i class="fa fa-user-plus"></i> Add User </button>
    </div>
</div>
<ag-grid-ng2 #agGrid class="ag-angle" style="width: 100%; height: calc(100vh - 300px)" 
[gridOptions]="gridOptions" 
(gridReady)="gridOptions.gridReady($event)" 
(cellDoubleClicked)="cellDoubleClicked($event);customer.show($event.data)"
(selectionChanged) = 'onSelectionChanged($event)' enableFilter></ag-grid-ng2>

<app-customer #customer></app-customer>