<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="text-center">
                    <img alt="Angular2" class="img-responsive center-block home-logo" src="assets/img/logo_lg.jpg" style="width:80px" />
                </div>
            </div>
            <div class="col-lg-9 col-md-8 home-text">
                <h3>Point of Sales</h3>
                <span><small>Version <strong>9.0.0</strong></small></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel b">
                <div class="panel-heading">
                    <h4> CUSTOMER REGISTRATION</h4></div>
                <div class="panel-body" style="padding-top:0">
                   Used during the auction preview and during the auction by your cashier to register your clients. Please be certain to make use of the Client Registration forms available in the Report application.
                </div>
                <div class="panel-heading">
                    <h4>AUCTION PROGRAM</h4></div>
                <div class="panel-body" style="padding-top:0">
                    Used to record your sales during an auction. Contains information about your art collection.
                </div>
                <div class="panel-heading">
                    <h4>INVOICING</h4></div>
                <div class="panel-body" style="padding-top:0">
                    Check out clients and generate invoices. Your cashier can produce invoices for your clients checking out early. At the conclusion of your auction, both you and your cashier can quickly checkout clients simultaneously.
                </div>
                <div class="panel-heading">
                    <h4>ELECTRONIC GALLERY</h4></div>
                <div class="panel-body" style="padding-top:0">
                    Used to present our premium art collection to your top clientele after your auctions. Contains luxurious works of art that are available directly from Park West Gallery.
                </div>
                <div class="panel-heading">
                    <h4>SCANNER PROGRAM</h4></div>
                <div class="panel-body" style="padding-top:0">
                    Used after each physical inventory to download the scanner information into your POS system. This will help you to keep accurate records of the artwork.
                </div>
            </div>
        </div>
        <div class="col-md-12">
            
            <table border="1" cellpadding="0"  width="500">
            <tr>
                <td height="100" width="500">
            <canvas #cnv id="cnv" name="cnv" width="500" height="100"></canvas>
                </td>
            </tr>
            </table>


            <canvas name="SigImg" id="SigImg" width="500" height="100"></canvas>

            <p>
            <input id="SignBtn" name="SignBtn" type="button" value="Sign"  (click)="onSign()" />&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="button1" name="ClearBtn" type="button" value="Clear" (click)="onClear()" />&nbsp;&nbsp;&nbsp;&nbsp;

            <input id="button2" name="DoneBtn" type="button" value="Done" (click)="onDone()"/>&nbsp;&nbsp;&nbsp;&nbsp;
           
            <textarea name="sigStringData" rows="20" COLS="50"  [(ngModel)]= "sigStringData">SigString: </textarea>
            <textarea name="sigStringImageData" rows="20" COLS="50" [(ngModel)]= "sigStringImageData" >Base64 String: </textarea>
            </p>
            
        </div>
    </div>
</div>