@import '../../../shared/styles/app/variables.scss';
@import '../../../shared/styles/app/media-queries.scss';

.customer-table tbody tr{
    max-height:40px;
    height:30px;
    min-height: 20px;
}


.customer-table .form-control{
    max-width:auto;
    min-width:auto;
    width:auto;
}

.modal-content {
    top: 40px;
    height: calc(100vh - 100px);
}

.modal-body {
      height: calc(100vh - 150px);
}