<div class="content-heading">
    Brochures
    <small>Brochures List</small>
</div>
<!-- <alert [type]="'info'">None of this examples are based on the official jQuery-Datatables</alert> -->
 <div class="row">
    <div class="col-md-3">
        <input class="mb form-control" placeholder="Filter..." type="text" (keyup)="onQuickFilterChanged($event)" style="width:250px"/>
        <ag-grid-ng2 #agGrid class="ag-angle" style="width: 100%; height: calc(100vh - 295px)" 
            [gridOptions]="gridOptions" (gridReady)="gridOptions.gridReady($event)" 
            (cellDoubleClicked)="cellDoubleClicked($event);invoice.show($event.data)"
            (selectionChanged) = 'onSelectionChanged($event)' enableFilter>
        </ag-grid-ng2>
        
    </div>
    <div class="col-md-9 printdiv" style=" height: calc(100vh - 250px)">
            <iframe id="brochurePdf" width="100%" height="100%" style="border:none"></iframe>
    </div>
</div>
