<div class="wrapper">
    <!-- top navbar-->
    <app-header class="topnavbar-wrapper"></app-header>
    <!-- sidebar-->
    <app-sidebar class="aside"></app-sidebar>
    <!-- offsidebar-->
    <!--<app-offsidebar class="offsidebar" style="z-index:999"></app-offsidebar>-->
    <!-- Main section-->
    <section style="z-index:200">
        <!-- Page content-->
        <div class="content-wrapper" style="margin-bottom:0px">
            <router-outlet></router-outlet>
        </div>
    </section>
    <!-- Page footer-->
    <footer app-footer></footer>
</div>
<app-spinner></app-spinner>
