.lot-detail{
    height:calc(100vh - 500px);overflow-x:hidden;overflow-y:scroll;
}

.lot-detail-img{
   height:calc(100vh - 500px);overflow:hidden;  
}
  

.lot-img{
    max-height:100%; max-width:100%;

}