<div class="content-heading" style="text-align:left;margin-bottom:10px;padding: 15px 15px 10px 15px;"  (window:keydown)="keyDown($event)">
    <div class="row">
         <div class="col-md-2">Auction</div>
         <div class="col-md-8 pull-right text-right">
             <div class="btn-group"  style="width:100px">
                 <ng-select [allowClear]="true" [items]="regNums" placeholder="Reg# " (data)="refreshRegNum($event)" ng-attr-size="150"></ng-select><!--ng-attr-size="300" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)"-->
             </div>
             <div class="btn-group" style="width:100px">
                 <ng-select [allowClear]="true" [items]="artists" placeholder="Artist  " (data)="refreshArtist($event)"  ng-attr-size="150"></ng-select><!--ng-attr-size="300"-->
             </div>
             <div class="btn-group text-left"  style="width:160px">
                <label class="checkbox-inline c-checkbox" style="font-size: 14px;"><input id="bountyOnlyCheckbox" type="checkbox" value="option1" (change)="bountyOnlyChanged($event)" [(ngModel)]="searchBountyOnly" /><span class="fa fa-check"></span>Show Bounty Only</label>
            </div>
             <div class="btn-group" style="margin-left:20px;">
                <button class="btn btn-default" type="button"> F7-Browse <i class="fa fa-search"></i></button>
            </div>
        </div>        
    </div>
</div>
<div class="row" style="text-align:center;margin-bottom:10px">
        <div class="btn-group">
            <button class="btn btn-default"  style="width:80px" type="button" (click)="firstLot()"><i class="fa fa-angle-double-left"></i> F2</button>
            <button class="btn btn-default"  style="width:80px" type="button" (click)="prevLot()"><i class="fa fa-angle-left"></i> F3</button>
            <button class="btn btn-default"  style="width:80px" type="button" (click)="nextLot()"> F4 <i class="fa fa-angle-right"></i></button>
            <button class="btn btn-default"  style="width:80px" type="button" (click)="lastLot()">F5 <i class="fa fa-angle-double-right"></i></button>
        </div>
        <div class="btn-group" style="width:90px"> Sort By </div>
         <div class="btn-group" style="width:90px">
            <select class="form-control"  [(ngModel)]="sortBy"  (change)="sortLots()"  name="" id="" placeholder="Sort By">
                <option>Artist</option>
                <option>Lot</option>
                <option>Reg</option>
            </select>
        </div>
</div>
<div class="panel b">   
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <div class="row" style="font-size:16px">
                     <div class="col-xs-2 br" [hidden]="!lot.IsPieceSold" >
                        <span class="text-danger"  style="margin: 0 20px 0 0"><b>SOLD</b></span>
                     </div>
                    <div class="col-xs-4 br">
                        <b>{{lot.LotType}}  {{lot.LotNum}} &nbsp;&nbsp;&nbsp;&nbsp;</b>
                        <strong>{{lot.RegNum}}.{{lot.SerNum}}</strong>
                    </div>
                    <div class="col-xs-3 br">
                        <em class="fa fa-user fa-fw text-primary"></em>
                        <strong>{{lot.Artist.FirstName}}  {{lot.Artist.LastName}}</strong>
                    </div>                   
                    <div class="col-xs-3">
                        <!--<em class="fa fa-heart fa-fw text-danger"></em>-->
                        ERP : <strong>${{lot.EstimatedRetailPriceCalculated}}</strong>
                    </div>
                </div>
                <br/>
                <div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="input-hammerprice">Price</label>
                            <input class="form-control" id="input-hammerprice" name="hammer-price" [(ngModel)]="hammerPrice" [ngModelOptions]="{standalone: true}" type="number" placeholder="Price"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="input-bidder">Bidder #</label>
                            <input class="form-control" [(ngModel)]="bidNum" [ngModelOptions]="{standalone: true}" id="input-bidder" type="text" placeholder="Bidder #" />
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="input-name">Name</label>
                            <input class="form-control"  [(ngModel)]="bidderName" [ngModelOptions]="{standalone: true}"  id="input-name" type="text" disabled placeholder="Name" />
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="input-lastname">Last Name</label>
                            <input class="form-control"  [(ngModel)]="bidderLastName" [ngModelOptions]="{standalone: true}"  id="input-lastname" type="text" disabled placeholder="Last Name" />
                        </div>
                        <button class="btn btn-primary" type="submit" (click)="sellLotClick()"><i class="fa fa-gavel"></i> Sale</button>
                    </div>
                    <div style="margin-top:10px">
                        <div class="radio-inline c-radio">
                            <label>
                                <input id="chk-mailinglist" type="radio" name="mailinglist" [value]="true" [(ngModel)]="framed" />
                                <span class="fa fa-check"></span>Framed</label>
                        </div>
                        <div class="radio-inline c-radio">
                            <label>
                                <input id="chk-mailinglist" type="radio" name="mailinglist" [value]="false" [(ngModel)]="framed" />
                                <span class="fa fa-check"></span>Unframed</label>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="col-md-3">
                <span style="padding: 0 20px"> Custom Framing: <b>${{lot.FramePriceCalculated}}</b></span><br/>
                <span style="padding: 0 20px"> Shipping Size: <b>{{lot.ShippingSizePrice}}</b></span><br/>
                <span style="padding: 0 20px" >TO Bonus: <b>${{lot.ToBonus}}</b></span><br/>                
            </div>
            <div class="col-md-2">
                <button class="btn btn-default pull-right" (click)="promotions.show(lot)"><i class="fa fa-gift"></i> Promotions </button><br/>
            </div>            
        </div>
        <br/>
          <div class="row">
            <div class="col-md-4 lot-detail-img text-center"  >
                <p class="lead bb text-left">{{lot.Artwork.Title}} <span class="text-success pull-right" style="font-size:12px" [hidden]="lot.Bounty == 0"> <i class="fa fa-diamond"></i> Bounty</span></p>             
                <img  class="lot-img" onError="this.src='assets/img/not_available.png'" src="pwgassets/images/im{{lot.RegNum}}.jpg">
            </div>
            <div class="col-md-4" >
                <p class="lead bb">Details</p>
                <div class="form-horizontal p-20 lot-detail">
                    <div class="form-group">
                        <div class="col-sm-12">                           
                           <p [innerHTML]="lot.ArtDescription.Description"></p>
                        </div>
                    </div>
                     <div class="form-group">
                         <div class="col-sm-12"> 
                             ***                          
                             <p [ngStyle]="{'background-color':  lot.StockCode.BackColor}" [innerHTML]="lot.StockCode.Description"></p>
                        </div>
                    </div>                        
                </div>
            </div>
            <div class="col-md-4">
                <p class="lead bb">Artist Biography</p>
                <form class="form-horizontal p-20 lot-detail">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p [innerHTML]="lot.ArtistDescription.Biography">
                        </div>
                    </div>                
                </form>
            </div>
        </div>
    </div>
</div>

<app-auctioneertool  class="offsidebar" style="margin-top: 0px;" [lot]="lot" [priceLevels]="priceLevels"></app-auctioneertool>

<app-promotions #promotions></app-promotions>

<div bsModal #msgModal="bs-modal" [config]="{backdrop: false}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="margin-top:200px;" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button  [hidden]="msg.ShowYesNoBtns" type="button" class="close" aria-label="Close" (click)="msgModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{msg.Title}}</h4>
            </div>
            <div class="modal-body">
                {{msg.Body}}
                <div class="clearfix"> </div>
                <br/>
                <div [hidden]="!msg.ShowYesNoBtns">   
                    <button class="btn btn-primary"> Yes </button>
                    <button class="btn btn-danger"> No </button>
                </div>
            </div>
        </div>
    </div>
</div>