<div class="content-heading" style="text-align:left;margin-bottom:10px;padding: 15px 15px 10px 15px;"  (window:keydown)="keyDown($event)">
    <div class="row">
         <div class="col-md-2">Auction</div>
         <div class="col-md-8 pull-right text-right">
             <div class="btn-group"  style="width:100px">
                 <ng-select [allowClear]="true" [items]="regNums" placeholder="Reg# " (data)="refreshRegNum($event)" ng-attr-size="150"></ng-select><!--ng-attr-size="300" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)"-->
             </div>
             <div class="btn-group" style="width:100px">
                 <ng-select [allowClear]="true" [items]="artists" placeholder="Artist  " (data)="refreshArtist($event)"  ng-attr-size="150"></ng-select><!--ng-attr-size="300"-->
             </div>
             <div class="btn-group text-left"  style="width:160px">
                <label class="checkbox-inline c-checkbox" style="font-size: 14px;"><input id="bountyOnlyCheckbox" type="checkbox" value="option1" (change)="bountyOnlyChanged($event)" [(ngModel)]="searchBountyOnly" /><span class="fa fa-check"></span>Show Bounty Only</label>
            </div>
             <div class="btn-group" style="margin-left:20px;">
                <button class="btn btn-default" type="button"> F7-Browse <i class="fa fa-search"></i></button>
            </div>
        </div>        
    </div>
</div>
<div class="row" style="text-align:center;margin-bottom:10px">
        <div class="btn-group">
            <button class="btn btn-default"  style="width:80px" type="button" (click)="firstLot()"><i class="fa fa-angle-double-left"></i> F2</button>
            <button class="btn btn-default"  style="width:80px" type="button" (click)="prevLot()"><i class="fa fa-angle-left"></i> F3</button>
            <button class="btn btn-default"  style="width:80px" type="button" (click)="nextLot()"> F4 <i class="fa fa-angle-right"></i></button>
            <button class="btn btn-default"  style="width:80px" type="button" (click)="lastLot()">F5 <i class="fa fa-angle-double-right"></i></button>
        </div>
        <div class="btn-group" style="width:90px"> Sort By </div>
         <div class="btn-group" style="width:90px">
            <select class="form-control"  [(ngModel)]="sortBy"  (change)="sortLots()"  name="" id="" placeholder="Sort By">
                <option>Artist</option>
                <option>Lot</option>
                <option>Reg</option>
            </select>
        </div>
</div>
<div class="panel b">   
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <span class="text-danger" [hidden]="!lot.IsPieceSold"  style="margin: 0 20px 0 0"><b>SOLD</b></span>
                    <strong style="padding: 0 20px 0 0">{{lot.LotType}}  {{lot.LotNum}}</strong>
                    <span style="padding: 0 20px">{{lot.Artist.FirstName}}  {{lot.Artist.LastName}}</span>
                    <span  style="padding: 0 20px">{{lot.RegNum}}.{{lot.SerNum}}</span>
                    <span style="padding: 0 20px"> Estimated Retail Price: <b>${{lot.EstimatedRetailPriceCalculated}}</b></span>
                </div>
                <br/>
                <div>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="input-price">Price</label>
                            <input class="form-control" id="input-price" type="number" placeholder="Price" style="width:120px"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="input-bidder">Bidder #</label>
                            <input class="form-control" id="input-bidder" type="number" placeholder="Bidder #" style="width:120px"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="input-name">Name</label>
                            <input class="form-control" id="input-name" type="text" disabled placeholder="Name" />
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="input-lastname">Last Name</label>
                            <input class="form-control" id="input-lastname" type="text" disabled placeholder="Last Name" />
                        </div>
                        <button class="btn btn-primary" type="submit"><i class="fa fa-gavel"></i> Sale</button>
                    </form>
                </div>                
            </div>
            <div class="col-md-3">
                <span style="padding: 0 20px"> Custom Framing: <b>${{lot.FramePriceCalculated}}</b></span><br/>
                <span style="padding: 0 20px"> Shipping Size: <b>{{lot.ShippingSizePrice}}</b></span><br/>
                <span style="padding: 0 20px" >TO Bonus: <b>${{lot.ToBonus}}</b></span><br/>                
            </div>
            <div class="col-md-2">
                <button class="btn btn-default pull-right" (click)="promotions.show(lot)"><i class="fa fa-gift"></i> Promotions </button><br/>
            </div>            
        </div>
        <br/><br/>
          <div class="row">
            <div class="col-md-4 lot-detail-img text-center"  >
                <p class="lead bb text-left">{{lot.Artwork.Title}} <span class="text-success pull-right" style="font-size:12px" [hidden]="lot.Bounty == 0"> <i class="fa fa-diamond"></i> Bounty</span></p>             
                <img  class="lot-img" onError="this.src='assets/img/not_available.png'" src="pwgassets/images/im{{lot.RegNum}}.jpg">
            </div>
            <div class="col-md-4" >
                <p class="lead bb">Details</p>
                <form class="form-horizontal p-20 lot-detail">
                    <div class="form-group">
                        <div class="col-sm-12">                           
                           <p [innerHTML]="lot.ArtDescription.Description"></p>
                        </div>
                    </div>                
                </form>
            </div>
            <div class="col-md-4">
                <p class="lead bb">Artist Biography</p>
                <form class="form-horizontal p-20 lot-detail">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p [innerHTML]="lot.ArtistDescription.Biography">
                        </div>
                    </div>                
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <span [ngStyle]="{'background-color':  lot.StockCode.BackColor,'padding': '3px 6px'}" [innerHTML]="lot.StockCode.Description"></span>
    </div>
</div>
<app-auctioneertool  class="offsidebar" style="margin-top: 0px;" [lot]="lot" [priceLevels]="priceLevels"></app-auctioneertool>

<app-promotions #promotions></app-promotions>